@page "/"

<h1>Potter Coding Dojo by Mark Oliver</h1>


<p>This app was developed as part of a job interview.</p>
<p>It is an answer to <a href="https://codingdojo.org/kata/Potter/">this coding Dojo Exercise</a> based on Harry Potter.</p>

<p>I decided to write a Blazor WebAssembly app to showcase the work.</p>


<p>The details of the dojo exercise are:</p>
<p>We have 5 books.</p>
<p>One copy of any of the five books costs 8 EUR. </p>
<p>If, however, you buy two different books from the series, you get a 5% discount on those two books. </p>
<p>If you buy 3 different books, you get a 10% discount.</p>
<p>With 4 different books, you get a 20% discount. </p>
<p>If you go the whole hog, and buy all 5, you get a huge 25% discount.</p>
<p>Note that if you buy, say, four books, of which 3 are different titles, you get a 10% discount on the 3 that form part of a set, but the fourth book still costs 8 EUR.</p>

