@page "/"

<h1>Potter Coding Dojo</h1>


<p>This app was developed as part of a job interview.</p>
<p>It is an answer to <a href="https://codingdojo.org/kata/Potter/">this coding Dojo Exercise</a> based on Harry Potter.</p>

<p>I decided to write a Blazor WebAssembly app to showcase the work.</p>

