################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PotterCodingDojo/bin/Debug/net5.0
/.vs/PotterCodingDojo
/PotterCodingDojo/obj
